{{dsSubnav({
  sections: [{

    heading: {
      text: 'How we work'
    },
    items: [{
      title: 'Our approach',
      selected: pageId == 'our-approach'
    },
    {
      title: 'Prototyping',
      selected: pageId == 'prototyping'
    },
    {
      title: 'Production',
      selected: pageId == 'production'
    }
    ]
  }, {
  heading: {
    text: 'Common user needs'
  },
  items: [{
    title: 'Common needs of citizens',
    selected: pageId == 'needs-of-citizens'
  },
  {
    title: 'Common needs of the Judiciary',
    selected: pageId == 'needs-of-judiciary'
  }
  ]
}, {
    heading: {
      text: 'Contributing to the design system'
    },
    items: [{
      title: 'Backlog',
      selected: pageId == 'backlog'
    }, {
      title: 'Propose a component or pattern',
      selected: pageId == 'propose-a-component-or-pattern'
    }, {
      title: 'Contribution criteria',
      selected: pageId == 'contribution-criteria'
    }, {
      title: 'Make changes to the Design System',
      selected: pageId == 'make-changes-to-the-design-system'
    }]
  }
  ]
}) }}
