<div class="app-pane__nav">
  <div class="govuk-width-container">
  {{dsNav({
    items: [
    {
        title: 'Get started',
        link: '/get-started',
        selected: sectionId == 'get-started'
      },
      {
        title: 'Styles',
        selected: sectionId == 'styles'
      },
      {
        title: 'Components',
        selected: sectionId == 'components'
      },
      {
        title: 'Patterns',
        selected: sectionId == 'patterns'
      },

      {
        title: 'Content',
        selected: sectionId == 'content'
      }
    ]
  }) }}
</div>

</div>
